@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  height: 100vh;
  min-width:100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #f0f3f4;
  
}
.allContentMainComponent {
  background-color: #f0f3f4;
  
  float: left;
  margin-top:55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/*Text Heading Format*/
.title {
  font-weight:bold;
  font-size: 1.5rem;
}
.subTitle {
  font-weight:bold;
  font-size: 1rem;
}
/*Icon and Image */
.inputImageIcon {
  background: url("https://s3-alpha-sig.figma.com/img/71bc/2f5d/b996080a655ae8044c2cc181ebb1238f?Expires=1656288000&Signature=FibxDg0fJspd-0YTDkPJ3h2j0MPrfIKPprib8x-weO-5A8U1XeY5oU3BPkwdf04kMc87KfTcBsNFRkytGKg-rPyxMcRoYdnNwJswSy4tbcCRRNNzREfPtqanLdqrLcrHjZbvf4dqAYP~w0Z6RPP4UDaIRi1v32GYPJjpMDZ4bLBGfK0j90rn0cuazlPqLD7ADgmwAKKwHP~PPVxF1BgrXoZZBeaax4gK2KR22XTZmAGrJOBlmqIiT~7wAIWsP0M~pgqP~paLJE78G6WDL8UKC8Siy87Cd2mwd6zJQw3TvL3Jp-KBBHbPQ06FAns2Syro3HOhqJi82eVsXwmd3AwXkw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}
.imageStyleOne {
  border-radius: 20px;
  border: 2px solid #6a6868
}
.imageDeleteButtonStyleOne {

}
/*Option for Magin, Alignment and Position */
.marginTopOne {
  margin-top: 4rem;
}
.marginMinusIndexPage {
  margin-top: -2.5rem;
}
.fullWidth {
  width: 100%;
}
/*Extra Styles for all Components*/
.textArea {
  margin-left:68px;
  margin-top:-40px;
  width: 94%;
  height: 70%;
  outline: none;
  border: none;
  resize: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
/*Option for round div*/
.roundOptionOne {
  border-radius: 50px;
  float:right;
  width:30px;
  height:30px;
}
.roundOptionOne img {
  margin-top:2px;
  margin-left:2px;
}
.roundOptionTwo {
  border-radius: 50px;
  background-color: green;
  left: 10px;
  width:50px;
  height:50px;
}
.roundOptionThree {
  border-radius: 50px;
  background-color: red;
  width:30px;
  height:30px;
}
.roundOptionFour {
  position: relative;
  top: 10px;
  left:10px;
  border-radius: 50px;
  background-color: red;
  width:50px;
  height:50px;
}
.roundOptionSix {
  position: relative;
  top: -40px;
  left:-20px;
  border-radius: 50px;
  background-color: red;
  width:40px;
  height:40px;
}
.roundOptionFive {
  border-radius: 50px;
  width:50px;
  height:50px;
  background-color: #b1dfee;
}
.roundOptionFive img {
  margin-top:4px;
  margin-left:4px;
}
/* All Content Style  for 'index.js'*/
.allContentComponent {
  width:100vw;
}
.subAllContentComponent {
  align-item: center;
  justify-content: center;
}

.allContentFloatLeft {
  float:left;
}
.allContentFloatRight {
  float:right;
}
/* Menu Bar Style for 'menuBar.jsx'*/
.menuBarComponent {
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index:25;
  margin-left:-9px;
  background-color:#F2F2F2;
  box-shadow: 0px 1px 10px darkgrey;
}
.menuBarSubComponent {
  width: 100%;
  margin-top: 10px;
}
.menuBarFloatRight {
  float:right;
}
.menuBarFloatLeft {
  float:left;
}

/*Left Part Style for 'leftPart.jsx'*/
.leftPartComponent {
  float:right;
  position: fixed;
  z-index:10;
  left:78%;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f3f4;
  border-left: 1px solid #eaeaea;
}
.leftPartSize {
  width:300px;
  height:100vh;
}
.leftPartDefaultMarginComponent {
  margin-top:55px;
}
/*Suggest Follow Style for 'suggestFollow.jsx'*/
.suggestFollowComponent {
  font-family: 'Poppins', sans-serif;
}
.suggestFollowTitle {
  font-weight:bolder;
  font-size:25px;
}
/*Suggest Ads Style for 'suggestAds.jsx'*/
.suggestAdsComponent {
  font-family: 'Poppins', sans-serif;
}
.suggestAdsTitle {
  font-weight:bolder;
  font-size:25px;
}
/*Menu Account Style for 'menuAccount.jsx'*/
.menuAccountComponent {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;

}
.roundMenuAccount {
  border-radius: 50px;
  background-color: #D9D9D9;
  width:40px;
  height:40px;
}
.menuAccountComponent img {
  width:30px;
  height:30px;
  margin-top: 4px;
  margin-left: 5px;
}
/*Top Challenge Style for 'topChallege.jsx'*/
.topChallengeComponent {
  font-family: 'Poppins', sans-serif;
}
.topChallengeTitle {
  font-weight:bolder;
  font-size:25px;
}
/*Menu List Style for './menuLists.jsx'*/
.menuListComponents {
  width: 100%;
  height:auto;
  background-color: green;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.menuListChoices {
  width: 100%;
  height: 70px;
  color: #6a6868;
  font-weight:bold;
  font-size:10px;
  line-height: 300%;
}
.menuListChoices img {
  margin-left: 20px;
  cursor: -webkit-grab; 
  cursor: grab;
}
.menuListChoices p {
  text-align: center;
  margin-top:-20px;
  margin-left:-10px;
  color:black;
  cursor: -webkit-grab; 
  cursor: grab;
}
.menuListMaginStartPosition {
  margin-left:20px;
}
/*Position Alignment & Content*/
.margin-both-ten {
  margin-left: 10px;
  margin-right: 10px;
  line-height:-10px;
}
.margin-top-nega-twentyfive {
  margin-top:0px;
}
/*Search Bar Style for 'searchBar.jsx'*/
.searchBarComponents {
}
.searchBarInput {
  font-family: 'Poppins', sans-serif;
  height: 30px;
  width:300px;
  margin-left: 50px;
  border-radius: 40px;
  background-color: #474747;
  color:white;
  padding:5px 10px;
  font-weight: bolder;
  outline: none;
  border: none;
}
.searchBarEnterComponents {
  position: relative;
  top: -30px;
  left: -10px;
  background-color: #5f5e5e;
  height:30px;
  width: 70px;
}
.searchBarEnterComponents button {
}
/*Side Bar Style for 'sideBar.jsx'*/
.sideBarComponent {
  font-family: 'Poppins', sans-serif;
  position:fixed;
  z-index:10;
  height: 100vh;
  width: 90px;
  left:0%;
  background-color: #f0f3f4;
  border-right: 1px solid #D9D9D9;
}
.sideBarDefaultMarginComponent {
  margin-top:55px;
}
/*Home Page Style for 'homePage.jsx'*/
.homePagePostContainer {
  margin-left: -250px;
  height: 80vh;
  width:950px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}
.homePageRunComponent {
  height: 210px;
  width: 100%;
}
.homePageRunInput {
  height:180px;
  width:100%;
  font-size:25px; 
  font-weight:bold;
  border:none;
  border-color: transparent;
  text-decoration:none;
  font-family: 'Poppins', sans-serif;
  outline: none;
}
.homePageRunComponent button {
  font-family: 'Poppins', sans-serif;
}
.homePageRunPost {
  width: 100%;
  min-height:150px;
  max-height:300px;
}
.profileTitleOptionOne {
  font-weight:bold;
  position:relative;
  left:70px;
  top:-43px;
  line-height: 5px;
  z-index:0;
}
.profileTitleOptionOne p:nth-child(2) {
  color:#747272;
  font-size: 13px;
}
.profileTitleOptionTwo {
  font-weight:bold;
  position:relative;
  left:30px;
  top:-84px;
  line-height: 0px;
  z-index:1;
}
.profileTitleOptionTwoBackground {
  background-color:  #0094FF;
  position:relative;
  left:-20px;
  border-radius: 50px;
  height:40px;
  width:210px;
}
.profileTitleOptionTwo p:nth-child(1) {
  color:white;
}
.profileTitleOptionTwo p:nth-child(2) {
  color:white;
  font-size: 13px;
}
.homePageSubRunPostData {
  max-width: 80%;
}
.homePageSubRunPostText {
  font-weight:normal;
  position:relative;
  left: 70px;
  top: -30px;
  z-index:2;
}

/*Blog Page Style for 'blog.jsx'*/
.blogPagePostContainer {
  margin-left: -250px;
  width:950px;
  font-family: 'Poppins', sans-serif;
}
.blogPageBlogPost {
  height: 230px;
  width: 100%;
}
.blogPostData {
  background-color: #f0f3f4;
  max-width: 80%;
  margin-top:-10px;
}

.blogPostText {
  font-weight:normal;
  position:relative;
  left: 70px;
  top: -30px;
  z-index:2;
  background-color: #f0f3f4;
}
.blogPostText p:nth-child(1) {
  font-weight:bold;
  font-size: 20px;
}
.blogPostText p:nth-child(2) {
  font-size: 15px;
  margin-top: -15px;
}
.blogBottomContent {
  position:relative;
  left: 10px;
  top: -10px;
  z-index:2;
}
.blogBottomContentCate {
  font-size: 15px;
  font-weight:bold;
  background-color: rgb(223, 221, 221);
  height:auto;
  max-width: 70px;
  border-radius: 10px;
  text-align:center;
  font-weight: normal;
}
/*Live Styles for 'live.jsx'*/
.livePageLivePost {
  
  width: 950px;
  height: 80%;
  margin-left: -250px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}
/*Create Post Components*/
.createPostComponents {
  margin-top:50px;
  font-family: 'Poppins', sans-serif;
  height:40px;
  width:100%;
  background-color: lightgrey;
  border-radius: 20px;
}
.createPostSubComponents {
  margin-left:20px;
  margin-top:-30px;
  width:100%;
}
.createPostSubComponents .createPostComponentsTextOptionTwo {
  margin-top:0px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  left: 180px;
  top:-119px;
  max-width: 190px;
  float: left;
  border-radius: 50px;
  border: none;
  background-color: #AFAFAF;
  font-weight: bolder;
  text-align: left;
  color:#555555;
  padding: 2px 7px;
  margin-left:20px;
}
.createPostSubComponents .createPostComponentsTextOptionOne {
  font-family: 'Poppins', sans-serif;
  position:relative;
  left:200px;
  top:-122px;
  width:60%;
  border-radius:50px;
  border:none;
  background-color: #AFAFAF;
  font-weight: bolder;
  text-align: left;
  padding: 2px 7px;
  color:#555555;
}


/*Left Parts Div Component for 3 Pages of LeftPart*/
.leftPartPartComponentDiv {
  height: 80px;
  width: 300px;
  background-color: #D9D9D9;
  margin-top:-10px;
}
/*Responsive Design*/






/* Modal */

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modalcontent {
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 1000px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modalfooter {
  text-align: right;
}
.modalclose {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}
/* Publish a Content Style for 'writecontent.jsx'*/
.fullRightWriteContent {
  width:1300px;
  margin-left: 90px;
}
.fullRightWriteContent .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom:-5px;
}
.fullRightWriteContent .subTitle {
  font-size: 17px;
  font-weight: bold;
}
.fullRightWriteContentHalfLeftOne {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 10px;
}
.fullRightWriteContentHalfRightOne {
  width: 45%;
  height: auto;
  float: left;
  margin-right: 10px;
}
.fullRightWriteContentHalfLeftOne input {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  border:none;
  background-color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
}
.fullRightWriteContentHalfRightOne input[type="url"] {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  border:none;
  background-color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
}
.fullRightWriteContentHalfLeftTwo {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 10px;

}
.fullRightWriteContentHalfLeftTwo textarea {
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-color:black;
  outline: none;
  font-size:15px;
  font-family: 'Poppins', sans-serif;
}
.fullRightWriteContentHalfRightTwo {
  width: 45%;
  height: auto;
  float: left;
  margin-right: 10px;
}
/* Challenge Styles for 'challenge.jsx'*/
.challengeComponentFullRight {
  width: 1300px;
  margin-left: 90px;
}


/*Search Styles for 'search.jsx'*/
.searchBarAllUserComponents {
  font-family: 'Poppins', sans-serif;
  width: 600px;
  height:auto;
  margin-left: 90px;
}
.searchBarAllUserList {
  width: 80%;
  height: 60px;
  margin-top:10px;
}
.searchBarAllRunList {
  width: 80%;
  height: 130px;
  margin-top:10px;
}
.followButtonAfterRound {
  position: relative;
  top: -87px;
  left:450px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border:none;
  background-color: #67adfc;
  color:blue;
  font-family: 'Poppins', sans-serif;
}
.followButtonAfterRound p {
  text-align: center;
  line-height:30px;
}
.runLayoutInside {
  width: 100%;
  margin-top:-50px;
  margin-left:70px;
}
/*Search MenuList Styles for 'data.jsx'*/
.searchMenuList {
  position:fixed;
  margin-top:50px;
  height:100%;
  left:0;
  width:250px;
  font-family: 'Poppins', sans-serif;
  padding:5px 7px;
  background-color: #f0f3f4;
  border-right:1px solid #e0e0e0;
  box-shadow: 0px 1px 10px darkgrey;
}
.searchMenuListResult {
  font-weight:bold;
  font-size:20px;
}
.searchMenuListChoice {
  height:60px;
  width:100%;
  border-radius:10px;
}
.searchMenuListChoice:hover {
  background-color: #c3c3c3;
  transition: 0.2s;
  color:#5f5e5e;
}
.searchMenuListChoice p {
  margin-top: -33px;
  margin-left: 70px;
  font-weight: bold;
}
.searchMenuListChoice div:first-child {
  position: relative;
  top: 5px;
  left: 5px;
}
